# .gitignore for Grails 1.2 and 1.3

.gitignore~

# web application files
/web-app/WEB-INF
/bin

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target-eclipse
/target/*
!/target/work
/target/work/*
!/target/work/plugins
/target/work/plugins/*
!/target/work/plugins/nimble-0.7/*

# /target/**/*
# !/target/**/nimble-0.7/

# other
*.iws

